<table>
  <tr>
    <th>Try</th>
    <th colspan="4">Combination</th>
    <th>Result</th>
  </tr>
  <tr></tr>
  <!-- iterate over all guesses -->
  @for (guess of board.guesses; track guess; let try = $index) {
  <tr>
    <td style="color:red">{{try+1}}</td>
    @for (i of this.util.numberArray(1,board.fields); track i) {
    <td>{{guess.combination.items[i-1]}}</td>
    }
    <!-- 
    <td>{{guess.correct}}/{{guess.correctColors}}</td>
     -->
     @if(!guess.correct && !guess.correctColors){
  no match
    }
     
    <td class="flex-container">
      @for (i of guess.correct | fill; track i){ <!-- using FillPipe -->
      <li style="color:black">&#9899;</li>
      }
      @for (i of guess.correctColors | fill; track i){
      <li style="color:white">&#9898;</li>
      }
    </td>
  </tr>
  }
  <!-- add empty lines for the remaining guesses -->
  @for (i of this.util.numberArray(board.guesses.length+1, board.maxTries); track i) {
  <tr>
    <td>&nbsp;</td>
    @for (i of this.util.numberArray(1,board.fields); track i) {
    <td>&nbsp;</td>
    }
    <td>&nbsp;</td>
  </tr>
  }
  <!-- input for new guess -->
  @if (!gameWon && !gameLost) {
  <tr>
    <td>&nbsp;</td>
    @for (i of this.util.numberArray(1,board.fields); track i) {
    <td>
      <select size="6" style="width: 50px; font-size:20px; ;" [(ngModel)]="combination.items[i-1]">
        @for (j of this.util.numberArray(1,board.colors); track j) {
        <option>{{j}}</option>
        }
      </select>
    </td>
    }
    <td>
      <button appDebounceClick mat-raised-button color="primary" [debounceTime]="1000"
        (debounceClick)="onGuess()">Guess</button>
    </td>
  </tr>
  }
  @if (gameLost) {
  <tr>
    <td>Secret</td>
    @for (i of this.util.numberArray(1,board.fields); track i) {
    <td>{{board.secretCombination.items[i-1]}}</td>
    }
    <td>&nbsp;</td>
  </tr>
  }
  @if (gameLost) {
  <tr>
    <td colspan="6">Game lost</td>
  </tr>
  }
  @if (gameWon) {
  <tr>
    <td colspan="6">Game won</td>
  </tr>
  }

</table>
<br>
@if (gameWon || gameLost) {
<div>
  <button mat-raised-button color="primary" (click)="newGame()">Play again</button>
</div>
}