.flex-container {
    /* We first create a flex layout context */
    display: flex;
    background: gray;
    /* Then we define the flow direction  */
    flex-direction: row;
    
    /* Then we define how is distributed the remaining space */
    justify-content:left;
    padding: 0;
    margin: 1px;
    list-style: none;
    width: 80px;
  }
 
/* for desktop ie above 1000px width */
  @media only screen and (min-width: 1000px) { 
    .flex-container{
      width: 135px;
    } 
    table {
      font-size: x-large;
    }
    tr { line-height: 30px; }
/* for future use */    
}