<div class="instruction">
    <ng-template [ngIf]="!correctOrder" [ngIfElse]="elseBlock">
        Sort these numbers into order (smallest to largest)
      </ng-template>
      <ng-template #elseBlock>
        Well done!
      </ng-template>
</div>    

<div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" [style.background-color]="correctOrder ? 'green' : 'orange'"
        *ngFor="let number of original" cdkDrag>{{number}}</div>

    <br>

</div>
<div class="centre" *ngIf="correctOrder">
    <button mat-raised-button color="warn" (click)="play()">Try again</button>
</div>

  