
<style>  
    .content {
      display: flex;
      
      flex-direction: column;
      align-items: center;
    }
  
    footer {
      margin-top: 8px;
      display: flex;
      align-items: center;
      line-height: 20px;
    }
  
    footer a {
      display: flex;
      align-items: center;
    }
    
  </style>

  <header> <span style="text-align: center;" ><h2>Mastermind</h2></span></header>
  <div class="content" role="main">
    
    <board></board>
  
    <!-- Footer -->
    <footer>
    
      <h5>KSC - 19 Apr 2024 version</h5>
    </footer>
  
  </div>
  