
.center {
    margin: auto;
    width: 100%;
    font-size: 20pt;
    text-align: center;
  }
  /* for desktop ie above 1000px width */
  @media only screen and (min-width: 1000px) { 
    .center {
        font-size: 40pt;
    }
/* for future use */    
}