
<style>  
    .content {
      display: flex;
      
      flex-direction: column;
      align-items: center;
    }
  
    footer {
      margin-top: 8px;
      display: flex;
      align-items: center;
      line-height: 20px;
    }
  
    footer a {
      display: flex;
      align-items: center;
    }
    
  </style>
  <br>
  <header><div class="center">Mastermind</div> </header>
  <br><br>
  <div class="content" role="main">
    
    <board></board>
  
    <!-- Footer -->
    <footer>
    
      <h6>KSC - 5 Nov 2024 version</h6>
    </footer>
  
  </div>
  