.flex-container {
    /* We first create a flex layout context */
    display: flex;
    background: gray;
    /* Then we define the flow direction  */
    flex-direction: row;
    
    /* Then we define how is distributed the remaining space */
    justify-content:left;
    padding: 0;
    margin: 1px;
    list-style: none;
    width: 60px;
  }
  
  
  @media only screen and (max-width: 1000px) {
      
/* for future use */    
}