
<div class="instruction">
  @if(!correctOrder){ match the capitals with their state}
  @else {Well done}
</div>
  
  <div class="centre">
    <div class="example-container">
      <h2>State</h2>
      <div cdkDropList #countriesList="cdkDropList" [cdkDropListData]="names" class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of names; track item) {
  <div class="example-box" [style.background-color]="correctOrder ? 'pink' : 'light-blue'"
          cdkDrag>{{item.name}}</div>
}
      </div>
    </div>
  
    <div class="example-container">
      <h2>Capital</h2>
      <div cdkDropList #capitalsList="cdkDropList" [cdkDropListData]="capitals" class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of capitals; track item) {
  <div class="example-box" [style.background-color]="correctOrder ? 'pink' : 'light-blue'"
          cdkDrag>{{item.capital}}</div>
}
      </div>
    </div>
  </div>
  <div class="centre">
    @if (correctOrder) {
<button mat-raised-button color="accent" (click)="ngOnInit()">
      Play again
    </button>
}
    </div>
