<div class="instruction">
    @if(!correctOrder){ find the {{category | uppercase}} from these letters}
    @else if(cheated) {You work it out next time!}
    @else {Well done!}
</div>

<div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
    @for (letter of jumbled; track letter) {
    <div class="example-box" [style.background-color]="correctOrder ?  'pink' : 'yellow'" cdkDrag>{{letter}}</div>
    }
</div>

<br>
<div class="centre">
    @if (correctOrder) {
    <button mat-raised-button color="primary" (click)="prepareData()">
        Play again
    </button>
    }
</div>
<div class="centre">
    @if (!correctOrder) {
    <button mat-raised-button color="primary" (click)="cheat()">Give up</button>
    }
</div>