<mat-toolbar color="primary" class="fixed-header">
<mat-toolbar-row>
  <div>
    <a mat-button [routerLink]="'/mastermind'">Mastermind</a>
    <a mat-button [routerLink]="'/sorting'">Number sorting</a>
    <a mat-button [routerLink]="'/tables'">Tables</a>
    <a mat-button [routerLink]="'/spelling'">Spelling</a>
<br>
    <a mat-button [routerLink]="'/capitals'">Capitals</a>
    <a mat-button [routerLink]="'/flags'">Flags</a>
    <a mat-button [routerLink]="'/anagrams'">Anagrams</a>
    <a mat-button [routerLink]="'/states'">USA States</a>
  </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>