* {
  box-sizing: border-box;
}
.instruction {
  margin: auto;  
  text-align: center;
    font-size: medium;
    color: blue;
    margin-bottom: 10px;
    width: 90%;
    height: 50px;
}
.centre {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.example-list {
    width: 50%;
    align-content: center;
    max-width: 100%;
    display: flex;
    margin:auto;
    flex-direction: column;
    overflow: hidden;
  }
  
  .example-box {
    padding: 10px 10px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    max-height: 40px;
    box-sizing: border-box;
    cursor: move;
    font-size:x-large; 
    margin-bottom: 2px;
    margin-top: 2px;
    border: solid blue;
    border-radius: 25px;

  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .pic {
    display: flex;
  justify-content: center;
  }
  .component {
    margin: 0;    
    color: black;
    padding: 15px;
    text-align: left;
    height: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
  }


  /* For larger than mobile phones: */
@media only screen and (min-width: 400px) {
.component {
  height: 500px;
}
.example-box {
  max-height: 100px;
  height: 100px;
}
.example-list {
  width: 30%;
  height: 500px;
}  
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;} 
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 1000px) {
  /* For desktop: */
  .example-list {
    width: 30%;
  }
 .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  p {font-size: 20pt;}
}