State: {{state.mobile()}}  {{state.showMenuButton()}}  Test: {{state.test()}}
<div class="col-3 col-s-3" style="background-color:rgb(221, 160, 160);">
  <div class="component">
    <p>Instructions</p>
    
    <div class="instruction">
    
      @if(!correctOrder){
      Sort these numbers into order (smallest at top)
      }
      @else {
      Well done!....
      <button mat-raised-button color="primary" (click)="play()">Another go</button>
      }
      <mat-checkbox (change)="includeNegativeNumbers($event)">include negative numbers</mat-checkbox>
    </div>
  </div>
</div>
  
<div class="col-9 col-s-9" style="background-color: rgb(223, 213, 231);">
  <div class="component">
    <div cdkDropList cdkDropListOrientation="vertical" class="example-list" (cdkDropListDropped)="drop($event)">
      @for (number of original; track number) {
      <div class="example-box" [style.background-color]="correctOrder ? 'gold' : 'pink'" cdkDrag>{{number}}</div>
      }
    
      <br>
    </div>
  </div>
</div>