<div class="center">
    <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="createRandomTable()">Random table</button>
        <!-- // delay of 3 sec instead
        <button *ngIf="correct" mat-raised-button (click)="newTry()">Next</button>
        -->
        <mat-form-field style="width:200px" color="primary" appearance="fill">
            <mat-label>Choose a table</mat-label>
            <mat-select #number (valueChange)="onSelected(number.value) ">
                @for (j of this.util.numberArray(2,15); track j) {
                <mat-option [value]="j">{{j}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="example-container">
    <mat-grid-list gutterSize="0px" cols="1" rowHeight="6:1">
        <mat-grid-tile>{{myTable}} times table</mat-grid-tile>
    </mat-grid-list>
</div>
<div class="example-container">
    <mat-grid-list gutterSize="5px" cols="4" rowHeight="1:1">
        @for (item of myNumbers; track item) {
        <mat-grid-tile><button mat-raised-button color="primary"
                (click)="checkAnswer(item)">{{item}}</button></mat-grid-tile>
        }

    </mat-grid-list>
</div>
<div class="example-container">
    <mat-grid-list gutterSize="0px" cols="7" rowHeight="1:1">
        <mat-grid-tile>{{question}}</mat-grid-tile>
        <mat-grid-tile>x</mat-grid-tile>
        <mat-grid-tile>{{myTable}}</mat-grid-tile>
        <mat-grid-tile>=</mat-grid-tile>
        <mat-grid-tile>{{answer}}</mat-grid-tile>
        <mat-grid-tile [ngStyle]="{'color': tileFont}">
            <mat-icon [ngStyle]="{'color': tileFont}" aria-hidden="false" aria-label="Example home icon"
                fontIcon={{myIcon}}></mat-icon>
        </mat-grid-tile>
        <mat-grid-tile>{{6-myArray.length}}/6</mat-grid-tile>
    </mat-grid-list>
</div>
<br>
@if(state.mobile()) {
<h3 style="text-align: center;">for Ben & Ezra 2024</h3>
}
@else {
    <h1 style="text-align: center;">for Ben & Ezra 2024</h1>
}