
.example-container {
    width: 30%;
    margin: auto;
    justify-content: center;
    vertical-align: top;
  }
  mat-grid-tile {
    background: lightblue;
    font-size: 16pt;
    
  }
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 20px 8px 0;
  }
   
  .center {
    margin: 0 auto;
    width: 30%;
    text-align: center;
    background-color:grey;
    display: block;
  }
  .mat-icon {
    font-size: 25px;
  }
  /*/* On screens that are 700px wide or less*/
  @media all and (max-width: 700px){
    .example-container {
      width: 75%;
    }
    .center {
      width: 75%;
    }
  }
  @media all and (max-width: 450px){
    .example-container {
      width: 90%;
    }
    .center {
      width: 90%;
    }
  }