<div class="instruction">
  @if(!correctOrder){ match the capitals with their country}
  @else {Well done}
</div>

<div class="centre">
  <mat-form-field color="accent" appearance="fill">
    <mat-label>choose a continent</mat-label>
    <mat-select #name (valueChange)="onSelected(name.value)">
      <mat-option value="Africa">Africa</mat-option>  
      <mat-option value="Asia">Asia</mat-option>
      <mat-option value="Europe">Europe</mat-option>
        <mat-option value="North America">North America</mat-option>
        <mat-option value="South America">South America</mat-option>
        <mat-option value="Oceania">Oceania</mat-option>
        <mat-option value="">World</mat-option>
    </mat-select>
  </mat-form-field>
  </div>

<div class="centre">
  <div class="example-container">
    <h2>Country</h2>
    <div cdkDropList #countriesList="cdkDropList" [cdkDropListData]="names" class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of names; track item) {
  <div class="example-box" [style.background-color]="correctOrder ?  'pink' : 'light-blue'"
        cdkDrag>{{item.name}}</div>
}
    </div>
  </div>

  <div class="example-container">
    <h2>Capital</h2>
    <div cdkDropList #capitalsList="cdkDropList" [cdkDropListData]="capitals" class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of capitals; track item) {
  <div class="example-box" [style.background-color]="correctOrder ?  'pink' : 'light-blue'"
        cdkDrag>{{item.capital}}</div>
}
    </div>
  </div>
</div>

<div class="centre">
  @if (correctOrder) {
<button mat-raised-button color="accent" (click)="ngOnInit()">
    Play again
  </button>
}
  </div>