:host {
    display: block;
   }
   .example-container {
    width: 35%;
    margin: auto;
    text-align: center;
    justify-content: center;
    vertical-align: top;
  }
  mat-grid-tile {
    background: lightblue;
    font-size: 16pt;
  }
  .keyboard {
    width: 15%;
    margin: auto;
    justify-content: center;
    vertical-align: top;
  }
  .myButton {
    width: 10%;
    margin: auto;
    justify-content: center;
  }
  /* On screens that are 700px wide or less*/
  @media all and (max-width: 700px){
    .example-container {
      width: 75%;
      margin-top: 15%;
    }
    .keyboard {
      width: 50%;
    }
  }
  @media all and (max-width: 450px){
    .example-container {
      width: 90%;
      margin-top: 10%;
    }
    .keyboard {
      width: 40%;
    }
    .myButton {
      width: 30%;
    }
  }