<div class="navigation">
    <li><a mat-button [routerLink]="'/mastermind'">Mastermind</a></li>
    <li><a mat-button [routerLink]="'/sorting'">Numbers</a></li>
    <li><a mat-button [routerLink]="'/maths2'">Maths</a></li>
    <li><a mat-button [routerLink]="'/tables'">Tables</a></li>
    <li><a mat-button [routerLink]="'/spelling'">Spelling</a></li>
    <li><a mat-button [routerLink]="'/capitals'">Capitals</a></li>
    <li><a mat-button [routerLink]="'/flags'">Flags</a></li>
    <li><a mat-button [routerLink]="'/anagrams'">Anagrams</a></li>
    <li><a mat-button [routerLink]="'/states'">USA States</a></li>
    <li> {{ msg }}</li>
   
  </div>