<div class="instruction">
    <ng-template [ngIf]="!correctOrder" [ngIfElse]="elseBlock">
        spell a word from these letters
    </ng-template>
    <ng-template #elseBlock>
      Well done!
    </ng-template>
  </div>
  <div class="centre">
    <button mat-raised-button color="accent" (click)="prepareData()" *ngIf="correctOrder">
      Play again
    </button>
    </div>
<div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let letter of jumbled" cdkDrag>{{letter}}</div>
  </div>
  
  <br>
  <button  *ngIf="!correctOrder" mat-raised-button color="warn" (click)="cheat()">Give up</button>