<div class="instruction">
    @if(!correctOrder){ match the flags with their country}
    @else if (startup) {match the flags with their country}
    @else {Well done}
</div>
<div class="centre">
    <mat-form-field color="accent" appearance="fill">
        <mat-label>continent</mat-label>
        <mat-select #name (valueChange)="onSelected(name.value)">
            <mat-option value="Africa">Africa</mat-option>
            <mat-option value="Asia">Asia</mat-option>
            <mat-option value="Europe">Europe</mat-option>
            <mat-option value="North America">North America</mat-option>
            <mat-option value="South America">South America</mat-option>
            <mat-option value="Oceania">Oceania</mat-option>
            <mat-option value="">World</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="setup()">new flags</button>
    @if (!caps) {
    <button mat-raised-button color="primary" (click)="showCapitals()">show capitals</button>
    }
    
</div>

<div class="centre">
    <div class="country-container">
        <h2>Country</h2>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="myCountries" class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of myCountries; track item) {
            <div class="example-box" [style.background-color]="correctOrder ? 'pink' : 'grey'" cdkDrag>{{item.name}}
            </div>
            }
        </div>
    </div>
    <div class="flag-container">
        <h2>Flag</h2>
        <div cdkDropList #flaglist="cdkDropList" [cdkDropListData]="myFlags" class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of myFlags; track item) {
            <div class="image-box" [style.background-color]="correctOrder ? 'pink' : 'grey'" cdkDrag><img
                    [src]=item.url></div>
            }
        </div>
    </div>
    @if (caps) {
    <div class="example-container">
        <h2>Capital</h2>
        <div cdkDropList #capList="cdkDropList" [cdkDropListData]="myCountries" class="example-list"
            >
            @for (item of myFlags; track item) {
            <div class="example-box" [style.background-color]="correctOrder ? 'pink' : 'grey'" cdkDrag>{{item.capital}}
            </div>
            }
        </div>
    </div>
    }
</div>
